header{
    padding-bottom: 2rem;
    background-color: #FFFEFA;
    max-height: 100px;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.4 ease 0s;
    border-bottom: 1px solid var(--pm-color-700);
}
header:hover{
    max-height: 500px;
}
header .common-frame{
    display: flex;
    justify-content: space-between;
}
header nav{
}
header .sns{
    justify-content: flex-end;
    margin-top: .5rem;
    margin-bottom: 1rem;
}
.gnb{
    display: flex;
    gap:1.5rem;
}
.gnb>li>a{
    font-size: var(--fs-bd2);
    font-weight: var(--fw-bold);
    margin-bottom: 2rem;
    display: block;
}
/* a태그는 인라인 블록 레벨이라서 위아래 너비가 늘어나지 않아 block형태로 변경 */
.gnb ul{
    font-size: var(--fs-bd2);
    font-weight: var(--fw-med);
    display: flex;
    flex-direction: column;
    gap:.5rem;
}

.gnb a:hover{
    color:var(--point-color);
}

.header-smart{display: none;}
.menu-smart-hidden{display: none;}
.btm-close img{
    height: 1.2rem;
}

@media (max-width:1440px){
    .menu-smart-hidden{
        transform: translateX(100%);
    }
    .menu-smart-hidden.on{
        transform: translateX(0);
        transition: all 0.7 ease 0s;
    }
    header{
        display: none;
    }
    .header-smart{
        display: block;
        border-bottom: 1px solid var(--pm-color-700);
    }
    .header-smart .common-frame{
        display: flex;
        justify-content: center;
        position: relative;
    }
    .header-smart .logo img{
        height: 4.5rem;
    }
    .header-smart .btn-menu{
        position: absolute;
        right: 0;
        top:50%;
        transform: translateY(-50%);
        line-height: 0;
    }
    .header-smart .btn-menu img{
        height: 1.2rem;
    }

    .menu-smart-hidden{
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        left:0;
        top:0;
        background-color: #FFF;
        z-index: 3000;
    }
    .menu-top{
        border-bottom:1px solid var(--pm-color-700);
    }
    .menu-top .common-frame{
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
    .menu-top .logo{
        line-height: 0;
    }
    .menu-top .logo img{
        height: 5rem;
    }
    .menu-content{
        max-height: calc(100vh - 8rem);
        overflow: auto;
        padding-top: 2rem;
        box-sizing: border-box;
    }
    .gnb-smart{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:3rem 1rem;
    }
    .gnb-smart>li{
    }
   .gnb-smart>li>a{
        font-weight: var(--fw-bold);
        display: block;
        border-left: 3px solid var(--point-color);
        padding-left: .5rem;
        margin-bottom: 1rem;
        color:var(--pm-color-700);
   }
   .gnb-smart ul{
        font-weight: var(--fw-med);
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
   }
   .menu-sns{
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
   }
   

}
@media (max-width:768px){
    .gnb-smart{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap:0;
    }
    .gnb-smart>li{
        max-height: 40px;
        overflow: hidden;
        position: relative;
        transition: all .5s ease 0s;
    }
    .gnb-smart>li.on{
        max-height: 300px;
    }
    .gnb-smart>li .btn-more img{
        transition: all .5s ease 0s;
    }
    .gnb-smart>li.on .btn-more img{
        transform: rotate(180deg);
    }
    .gnb-smart>li>a{
        display: flex;
        height: 40px;
        align-items: center;
        border-left: none;
        padding-left: 0;
        margin-bottom: 1rem;
        color:#000;
        box-sizing: border-box;
        border-bottom: 1px solid #000;
   }
   .gnb-smart ul a{
        display: flex;
        height: 30px;
        align-items: center;
   }
   .gnb-smart ul{
        gap: 0;
   }
   .btn-more{
    position: absolute;
    height: 40px;
    width: 40px;
    right: 0;
    top:0;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   }
   
}

